* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fr {
  float: right;
}

html,
body {
  height: 100%;
  background: url(../images/login_bg.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 60px;
  margin-left: 400px;
  padding-top: 20px;
}

.login,
.register {
  width: 400px;
  height: 320px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 30px;
}

.register {
  display: none;
}

.login h3,
.register h3 {
  height: 60px;
  background: url(../images/login_title.png) no-repeat center;
}

.item-ipt {
  position: relative;
}

.item-ipt .layui-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.item-ipt .layui-input {
  padding-left: 28px;
}